.header2 {
    background-color: #a7deec;
    color: black;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    text-decoration: underline;
}

.main {
    padding: 0;
}

#buttons {
    display: flex;
    justify-content: flex-end;
}

.charts-canvas {
    background-color: white;
    margin: 20px;
    border-radius: 16px;
    padding: 20px;
}

.print-button {
    background: none;
    border: none;
    color: white;
    font-size: 25px;
    cursor: pointer;
    padding: 10px;
    margin-left: 10px;
}

.print-button i {
    margin-right: 5px;
    background: none;
    border: none;
}

@media print {
    @page {
        background-color: #26b170 !important;
        size: 420mm 594mm;
        margin: 0;
    }

    .print-button *,
    .logo *,
    .footer *,
    .direction-buttons *,
    .nav * {
        visibility: hidden;
    }
}