.row {
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    color: #fff;
    .col {
        display: flex;
        flex-direction: row;
        width: 40%;
        font-size: 20px;
    }
}

#green-options>.row {
    font-size: 18px;
    color: black;
    align-items: center;
    cursor: pointer;
    gap: 40px;
    &:first-child {
        justify-content: center;
        font-size: 36px;
    }
    &:not(:first-child):hover {
        color: white;
        border-radius: 16px;
        outline: 1px solid white;
        .col:first-child {
            padding: 0 10px;
            background-color: #0b5624;
            border-radius: 16px;
        }
    }
}

.hidden {
    display: none !important;
}

.green-options {
    padding: 10px;
    border-radius: 16px;
    border: 1px solid #0077b6;
    width: -webkit-fill-available;
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
    color: #000;
    select {
        background-color: transparent;
        border: 0;
    }
    .selected {
        cursor: pointer;
    }
    .option-dropdown {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .options {
        position: absolute;
        display: none;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 99;
        padding: 2px 2px;
        font-size: 20px;
        overflow-y: auto;
        max-height: 40vh;
        color: #000;
    }
    .option {
        list-style: none;
        padding: 2px 4px;
        &:hover {
            background-color: #d9d9d9;
        }
    }
    .select-arrow {
        position: relative;
        right: 0;
        background-color: #2fc2e6;
        border-radius: 50%;
        color: #000;
        text-align: center;
        cursor: pointer;
        padding: 0 2%;
    }
}