#table {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main-content-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 30px;
  }
   
  .row-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
   
  .search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: large;
    background-color: #faf3f3;
    border-radius: 16px;
  }
   
  #searchInput {
    padding-left: 10px;
    padding-right: 30px;
    border: 0;
    background-color: transparent;
  }
   
  #searchInput::placeholder {
    color: #999;
  }
   
  #searchInput:focus + .fa-search {
    color: #007bff; /* Change color of search icon when input is focused */
  }
   
  .fa-search {
    color: #999; /* Default color of search icon */
    cursor: pointer;
    padding: 0 10px;
  }
   
  .search-icon {
    color: #999;
    margin-left: 5px; /* Add spacing between icon and | */
  }
   
  .row-icons div {
    margin: 0 20px;
  }
   
  .upload-icon, .add-icon {
    cursor: pointer;
    font-size: 30px;
    height: 30px;
    width: 30px;
  }

  #myTable {
    background-color: #ddefff;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
    margin-top: 20px;
}
#myTable thead {
    border: 0;
    border-bottom: 1px solid #333;
}

#myTable th, #myTable td {
    border: 0;
    text-align: left;
    padding: 12px;
}

#emptyRow {
    text-align: center;
}

#emptyRow:hover, #emptyRow td:hover {
    background-color: transparent !important;
}

#myTable tbody tr {
  border-bottom: 1px solid #333;
}

#myTable tbody tr:hover {
  background-color: #f2f2f2;
}

#myTable th {
  background-color: #0077B6;
  color: white;
}


/* dara row modal */

 /* datarow modal */

 .dataRowModal {
  display: none;
  z-index: 999;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #faf3f3;
  padding: 30px;
  border-radius: 16px;
}

#dataRowModal #data-modal-header {
  padding-top: 0;
  font-size: 28px;
  margin-bottom: 20px;
}

.dataRowModal .modal-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.yes-no-select {
  display: inline-block;
  flex-direction: row;
  justify-content: space-between;
}
#yes-button, #no-button  {
  padding: 2px;
  border: 0;
  background: transparent;
  margin: 0 5px;
  cursor: pointer;
  font-size: 14px;
}

.selected {
  border-bottom: 1px solid #0077B6 !important;
}

.dataRowModal .input_label {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  width: 40%;

  label {
    color: #0077B6;
    font-size: 16px;
    margin-bottom: 2px;
  }

  .select-arrow {
    pointer-events: none;
    background-color: #2FC2E6;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
  }

  .hidden  {
    display: none;
  }

  input {
    background-color: #d9d9d9;
    border: 0;
    border-radius: 16px;
    padding: 2px;
    font-size: 20px;    

    &:hover, &:focus {
      outline: none;
      border: 1px solid #0077B6;
    }

    &::placeholder {
      padding: 5px;
    }
  }
}

.dataRowModal .modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;

  button {
    background-color: #2fc2e6;
    color: white;
    border: 0;
    border-radius: 16px;
    padding: 10px;
    font-size: 20px;

    &:hover {
      cursor: pointer;
      background-color: #0077b6;
    }
  }
}